@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption text-center">
                    <h1 class="page-title">Surge Energy</h1>
                    <hr />
                    <p>
                        Surge Energy Limited (Surge), is a Kenyan LPG cylinder manufacturing and revalidation firm incorporated in 2017 and located in Kisaju, Kenya. The location gives easy access by road, rail and air to Kenya’s Capital City (Nairobi), the Mombasa Port through Internal Container Depot (ICD), and the East Africa Region.

                        The Twenty-Eight (28) Million USD worth of investment is a fully installed automatic ultramodern LPG cylinder manufacturing line of Turkish origin with a total built-up area of over 100,000 square feet.

                        Since its inception, Surge has built a reputation of quality, precision and trustworthiness, making it a strong brand partner and a household name amongst LPG suppliers for customized and standard LPG cylinders. Within a short span of time, we are now a well-established and highly recognized steel LPG cylinder manufacturing and revalidation firm in Kenya and across the region.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-danger mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <h4 class="text-white">Our Vission</h4>
                        <hr />
                        <p class="text-white">To exceed our clients' expectations in quality, delivery, and cost through continuous interaction with customers. </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
