@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="how-section1  card shadow">
    <div class="row ">
        @*<div class="col-md-8 ">
        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt="" />
        </div>*@
        <div class="col-md-12">
            @*  <h4>A</h4>*@
            <div>
                 <h4 class="subheading">Manufacturing of LPG Cylinders</h4>
            <p class="text-muted">
                Our cylinders go through a range of processes to ensure compliance, safety, durability, aesthetics, and convenience. The processes include de-coiling, striating, blanking, embossing, deep drawing –trimming and joggling, degreasing, welding, heat treatment, hydrostatic testing, shot blasting, zinc coating, valving, branding, documentation, and dispatching.
            </p>
            <p class="text-muted">
                We provide standardized solutions to LP Gas supply firms for the purpose of domestic and industrial gas fillings and redistribution needs.
            </p>
            <p>
                These cylinders are manufactured in different capacities as shown below:
            </p>
            </div>
           
            <div class="row text-center">
                <div class="container ">
                    <div class="grid m-0 p-0">
                        <div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/32.png">

                            </div>
                            <div class="card-text content">
                                5KG, 6KG & LPG Cylinder
                            </div>
                        </div><div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/33.png">

                            </div>
                            <div class="card-text content">
                                9KG, 12KG & 13KG LPG
                                Cylinder
                            </div>
                        </div><div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/34.png">

                            </div>
                            <div class="card-text content">
                                19 KG & 20 KG LPG Cylinder
                            </div>
                        </div><div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/34.png">

                            </div>
                            <div class="card-text content">
                                25KG & 38KG LPG Cylinder
                            </div>
                        </div><div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/34.png">

                            </div>
                            <div class="card-text content">
                                40KG & 45KG LPG Cylinder
                            </div>
                        </div><div class="card shadow item1">
                            <div class="card-img photo">
                                <img src="/images/products/our products/34.png">

                            </div>
                            <div class="card-text content">
                                48KG & 50KG LPG Cylinder
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-container card shadow">
        <div class="text-container">
            @*<h4>B</h4>*@
            <h4 class="subheading">Cylinder Refurbishment and Revalidation</h4>
            <p class="text-muted">
                Revalidation goes through full zinc coating under metalizing process and hydrolytic testing. The final step is issuance of the DOSH Certificate, a mark of quality
            </p>
            <p class="text-muted">The requalification process requires cylinders to be verified & suitable to use. It involves the following process.</p>
        </div>
        <div class="image-contaioner ">
            <img src="/images/products/our products/Valve-dismantling.png" class=" img-fluid" alt="" />
        </div>
    </div>
    <div class="card-container card shadow">
        <div class="image-container ">
            <img src="/images/products/our products/meter_render.png" class=" img-fluid" alt="" />
        </div>
        <div class="text-container">
            @* <h4>C</h4>*@
            <h4 class="subheading">Smart Meters</h4>
            <p class="text-muted">
                To further boost safety, tracking of the cylinders and gas consumption per cylinder, Surge has introduced the application of Smart Meters Technology. The meters are fitted securely on gas cylinder calves to enable the transfer of data consistently enabling the cylinder distribution company to track the location and quantity of LPG in the cylinder.
            </p>
        </div>
    </div>
    <div class="card-container card shadow">
        <div class="image-container">
            @* <h4>D</h4>*@
            <h4 class="subheading">Value Additions</h4>
            <p class="text-muted">
                i. The firm takes pride in high standard zinc metalizing line that aids to increase the durability of the LPG cylinders.
            </p>
            <p class="text-muted">ii. Installation of a shrink wrap facility is one of the distinguishing features of Surge products that has enabled steadily affordable without compromising quality.</p>
            <p class="text-muted">iii. Surge has an automated tempography machine that serves the purpose of the printing cylinder logo, brand name etc.</p>
            <p class="text-muted">iv. The cylinders’ type of handle, foot, valve, coat colour, and silk printing is adapted to suit the client’s liking.</p>
        </div>
        <div class="text-container ">
            <img src="/images/products/our products/img-propane-tanks.png" class=" img-fluid" alt="" />
        </div>
    </div>
   
   
      
   
</div>
<style>
    .how-section1 {  
        margin-top: 1em;
        
    text-align: left;
    }
    .card {
        padding: 1em;
    border-radius: 2em;
  
    }
    h3 {
    border-bottom: unset;
}
        .how-section1 h4 {
          
            font-weight: bold;
            font-size: 30px;
            text-align: left;
        }

        .how-section1 .subheading {
            color: #3931af;
            font-size: 20px;
        }

        .how-section1 .row {
            margin-top: 2em;
        }

   

    .rounded-circle {
        max-height: 20em;
    }

    .how-img {
        text-align: center;
    }


    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 2em;
    }

    .item1 {
        justify-content: center;
        display: flex;
        border-radius: 2em;
        align-items: center;
        height: auto;
    }

        .item1 img {
            width: 100%;
        }

        .item1 h3 {
            padding: 1% 5%;
            color: grey;
            width: 100%;
            height: auto;
        }

    @@media all and (min-width: 670px) {


        .grid {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: min-content;
            grid-gap: 1em;
        }
    }

    @@media all and (min-width: 900px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }



    /* css grid layout*/
    .card-container {
        display: grid;
        padding: 2rem;
        grid-template-columns: auto auto;
        gap: 1rem;
        align-items: center;
        border-radius: 2em;
        max-width: 100%;
        margin: 1em;
    }

    .image-container {
        max-width: 100%;
        height: auto;
    }

    @@media (max-width: 650px) {
        .card-container {
            display: block;
            font-size: 80%;
        }

        .text-container {
            position: relative;
            margin: 1rem;
            padding: 1rem;
            background: rgba(white, 0.8);
        }
    }
</style>