@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row prod-image">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h2 class="page-title">Our Products And Services</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <p>Our core business line is the manufacture of high-quality internationally recognized steel LPG cylinders with value-adding services and products including cylinder revalidation, cylinder valves, and smart meters as stipulated here. </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <partial name="ProductsPartials/_ProductsServices" />
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" src="/_ProductHeader.cshtnl.css" />
<style>


    p:last-child {
        margin: 0px;
    }

ul, ol {
}

a {
    text-decoration: none;
    color: #8d8f90;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    a:focus, a:hover {
        text-decoration: none;
        color: #f85759;
    } 

.page-header {
     background: url("/images/banners/image (1).png")no-repeat;
    position: relative;
    background-size: cover;
}

.page-caption {
    padding-top: 170px;
    padding-bottom: 174px;
}

.page-title {
    font-size: 46px;
    line-height: 1;
    color: #ffff;
    font-weight: 600;
    text-align: center;
}

.card-section {
    position: relative;
    bottom: 60px;
}

.card-block {
    padding: 1.2em;
    margin: auto;
    color: #243e81;
    border-radius: 1em;
    width: 85%;
    font-size: 1.5em;
}

</style>