@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class=" container card how-section1 shadow">
     <h4 class="subheading">The Production Process</h4>
    <div class="grid m-0 p-0">
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/8.jpg">

            </div>
            <div class="card-text content">
                Decoiling
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/9.jpg">

            </div>
            <div class="card-text content">
                Straightening
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/10.jpg">

            </div>
            <div class="card-text content">
                Blanking
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/11.jpg">

            </div>
            <div class="card-text content">
                Embossing
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/15.jpg">

            </div>
            <div class="card-text content">
                Deep Drawing
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/14.jpg">

            </div>
            <div class="card-text content">
                Trimming &amp; Joggling
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/13.jpg">

            </div>
            <div class="card-text content">
                Guard Ring Formation
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/12.jpg">

            </div>
            <div class="card-text content">
                Foot Ring Formation
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/16.jpg">

            </div>
            <div class="card-text content">
                Degreasing
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/17.jpg">

            </div>
            <div class="card-text content">
                Submerged Arc Welding
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/18.jpg">

            </div>
            <div class="card-text content">
                Foot Ring & Guard Ring
                Mig Welding
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/19.jpg">

            </div>
            <div class="card-text content">
                Circumferential Saw
                Welding
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/20.jpg">

            </div>
            <div class="card-text content">
                Heat Treatment
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/21.jpg">

            </div>
            <div class="card-text content">
                Hydrostatic Pressure
                Testing
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/22.jpg">

            </div>
            <div class="card-text content">
                Shot Blasting (surface
                treatment)
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/23.jpg">

            </div>
            <div class="card-text content">
                Zinc Coating (surface
                treatment)
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/24.jpg">

            </div>
            <div class="card-text content">
                Powder Coating (surface
                treatment)
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/25.jpg">

            </div>
            <div class="card-text content">
                Heat Treatment of Powder
                Paint
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/26.jpg">

            </div>
            <div class="card-text content">
                Vacuuming
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/27.jpg">

            </div>
            <div class="card-text content">
                Cleaning of Flange Thread
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/31.jpg">

            </div>
            <div class="card-text content">
                Valving & Application of
                Thread Locker
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/30.jpg">

            </div>
            <div class="card-text content">
                Tempography
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/29.jpg">

            </div>
            <div class="card-text content">
                Vacuumized Purging
            </div>
        </div>
        <div class="card shadow item">
            <div class="card-img photo">
                <img src="/images/products/28.jpg">

            </div>
            <div class="card-text content">
                Pnuematic Leakage Test
            </div>
        </div>
    </div>
</div>
<style>
    

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 2em;
}
 

.item {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5em;
    height: auto;
    border-radius: 1em !important;
    background: #243e81;
    color: white;
}

    .item img {
        width: 100%;
        border-radius: 1em !important;
    }

    .item h3 {
        padding: 1% 5%;
        color: grey;
        width: 100%;
        height: auto;
    }

@@media all and (min-width: 670px) {
    .container {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        grid-gap: 1em;
    }
}

@@media all and (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}
.how-section1 .subheading {
    color: #3931af;
    font-size: 20px;
}
</style>