@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!------ Include the above in your HEAD tag ---------->



<section id="contact">
    <div class="section-content">
        <h2 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h2>
        <h4>We are here for you</h4>
    </div>
    <div class="contact-section">
        <div class="container">
            <form asp-method="post" asp-area="" asp-controller="Home" asp-action="SendMail">
                <div class="row">
                    <div  class="col-md-6 form-line">
                        <div  class="form-group">
                            <label  for="exampleInputUsername">Your name</label>
                            <input name="Name"  type="text" class="form-control" id="" placeholder=" Enter Name">
                        </div>
                        <div  class="form-group">
                            <label  for="exampleInputEmail">Email Address</label>
                            <input name="ToEmail" type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                        </div>
                        <div  class="form-group">
                            <label  for="telephone">Mobile No.</label>
                            <input name="PhoneNumber"  type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <div  class="form-group">
                            <label  for="description"> Message</label>
                            <textarea name="Body" class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                        </div>
                        <div >

                            <button  type="submit" class="btn btn-primary submit"><i  class="fa fa-paper-plane" aria-hidden="true"></i>  Send Request</button>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<style>
    /*Contact sectiom*/
.content-header {
    /*font-family: 'Oleo Script', cursive;*/
    color: #bd2130;
    font-size: 45px;
}

.section-content {
    text-align: center;
}

#contact {
    /*font-family: 'Teko', sans-serif;*/
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    /*background: #3a6186;  fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #3a6186, #89253e);  Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #3a6186, #89253e);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000;
}

.contact-section {
    padding-top: 40px;
}

    .contact-section .col-md-6 {
        width: 50%;
    }




label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    margin: 1em;
    width: 10em;
    background-color: #243e81;
    color: #ffffff;
}

</style>