
@{
    ViewData["Title"] = "Products and Services";
}

<div>
    <partial name="ProductsPartials/_ProductHeader" />
     <partial name="ProductsPartials/_ProductionProcess" class="card"/>
      
</div>

<style>
    .content {
    height: unset !important;
}
</style>