@{
    ViewData["Title"] = "Sustainability";
}
<div>

    <partial name="SustainabilityPartials/_SusHome" />
    <div class="container">
        <partial name="SustainabilityPartials/_SusBody" />

    </div>
</div>

