@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
   
    <div class="">
        <div class="row">
            <div class="col-md-12">

                <div class="row" style="list-style-type: none;">
                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img cover" src="/images/others/image-006.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">The Cylinder Body Forming Line</h5>
                                        <p class="card-text">
                                            The process of cylinder forming begins with loading the sheet material to the working area through blanking to the last deep drawing action and cylinder

                                            embossing as per the client requirement. In LPG Cylinder Body Forming Line, LPG Cylinder halves are formed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Trimming and Beading Line</h5>
                                        <p class="card-text">In this stage, LPG Cylinder halves are trimmed and beaded.</p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/12.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="/images/others/11.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Guard (Collar) Ring Production Lin</h5>
                                        <p class="card-text">
                                            The guard ring protects the valve, which is the most sensitive part of the LPG cylinder, from damage and enables easier handling of the cylinder. The guard rings make it possible for cylinders to be stack upon each other for easier transportation and storage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Bottom Ring Production Line</h5>
                                        <p class="card-text">
                                            The bottom rings help prevent the damage LPG cylinders’ from the bottom. The bottom rings enhance storage and transportation as the cylinders can easily stack on each other. The designs are according to the customer’s needs and in line with KEBS standards.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/10.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="/images/others/image-012.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Welding line</h5>
                                        <p class="card-text">Here, two complete halves are welded together as one piece to maintain consistent welding in the joints and form a complete cylinder. The process is carried out meticulously to ensure that the two halves are safely welded together within the desired pressure levels. Besides the body welding, flange welding, double head welding, guard ring, and body ring welding are also carried out at this stage where they are welded into the main body of the cylinder.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Heat Treatment Furnace Line</h5>
                                        <p class="card-text">The cylinders pass through the oven from entry to exit side on the conveying system for proper heat treatment process between 875 0C to 920 0C of temperature including preheating, heating and cooling steps. This step is critical as it works to relieve all the stresses caused by the cylinder forming and welding operations.</p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/1.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="/images/others/2.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Hydrostatic Test Line</h5>
                                        <p class="card-text">The hydrostatic testing is carried out on the heat-treated LPG cylinders to increase the internal pressure up to 35 bars to aid in visual inspection for any leakages or if the sheet material has some holes/cracks on it as a defect.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Shot Blasting Line</h5>
                                        <p class="card-text">The blasting machine is used to automatically to clean the surface of the LPG cylinders for paint works. This is done by blasting off the grit material coming from the turbines of the machine in the confined chamber.</p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/3.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img cover" src="/images/others/4.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Metallization Line</h5>
                                        <p class="card-text">This involves zinc spraying of the cylinders to aid in corrosion protection and therefore increases durability and overall lifetime of LPG Cylinders.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Painting Line</h5>
                                        <p class="card-text">
                                            We do powder painting and our surface coating line has the capacity to coat approximately 250 cylinders in an hour. The cylinders undergo various coats of paints starting with the primary coat and finalising with the paint curing.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/5.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="/images/others/13.png" alt="wide world">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Valving And Pneumatic Line</h5>
                                        <p class="card-text">Using the pneumatic leakage testing at the final stage, the cylinders are tested against any leakage at the valve region.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cardiff card shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">

                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Screen Printing Line</h5>
                                        <p class="card-text">
                                            Using the approved customer brand name and/or logo, screen printing is done at the agreed-upon parts of the cylinder – body, guard or bottom rings. The cylinders

                                            are now ready for dispatch to the customer when all the required steps are adhered to and each step receives clearance for the next level.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 card-reverse">
                                    <img class="card-img" src="/images/others/14.png" alt="wide world">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}
.fill {
    object-fit: fill;
}
.cardiff {
    background: #bd2130;
    width: 100%;
    min-height: 20em;
    
}
h5 {
    color: #243e81;
}
h2 {
    color:#e52625;
}
.contain {
    object-fit: contain;
}
.cover {
    object-fit: cover;
}
.card-img {
    width: 13em !important;
}
.scale-down {
    object-fit: scale-down;
}
.card-reverse {
    text-align: end;
}
.none {
    object-fit: none;
}
.how-it-works.row .col-2 {
    align-self: stretch;
}

    /*.how-it-works.row .col-2::after {
        content: "";
        position: absolute;
        border-left: 3px solid #ED8D8D;
        z-index: 1;
    }*/

    .how-it-works.row .col-2.bottom::after {
        height: 50%;
        left: 50%;
        top: 50%;
    }

    .how-it-works.row .col-2.full::after {
        height: 100%;
        left: calc(50% - 3px);
    }

    .how-it-works.row .col-2.top::after {
        height: 50%;
        left: 50%;
        top: 0;
    }


.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

</style>