@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- page-header -->
<div class="page-header">
    <div class="container balance">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Sustainability and Quality Assurance</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
    <div class="">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <h2>Our Production Lines</h2>

                        <p>
                            Surge has invested in the number one LPG manufacturing technology using a fully automated manufacturing line of Turkish origin. The line has played a very significant role in ensuring Surge production is efficient and effective. LPG Cylinder Production is composed of several sheet metal forming, surface treatment and testing processes. The production process is grouped into the following lines;
                        </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
      

   
    .balance {
        -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
        -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
        box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
        padding: 1rem;
        background: #00000066;
  /*  border-radius: 2em;*/
    }


        p:last-child {
            margin: 0px;
        }

    ul, ol {
    }

    a {
        text-decoration: none;
        color: #8d8f90;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        a:focus, a:hover {
            text-decoration: none;
            color: #f85759;
        }



    .page-header {
        background: url("/images/banners/IMG_564.jpeg")no-repeat;
        position: relative;
        background-size: cover;
        object-fit:cover;
    }

    .page-caption {
        padding-top: 170px;
        padding-bottom: 174px;
    }

    .page-title {
        font-size: 46px;
        line-height: 1;
        color: #fff;
        font-weight: 600;
        text-align: center;
    }

    .card-section {
        position: relative;
        bottom: 60px;
            width: 55em;
    margin: auto;
    }

    .card-block {
            padding: 3rem;
    border-radius: 2em;
    }

    .section-title {
        margin-bottom: 60px;
        margin:auto;
    }

</style>