
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="content">
                <h3 class="title">Features of Excellence</h3>
                <p class="description">
                    We pride in having a plant of international standards with distinct features of excellence that include:
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ol class="list-group-item-danger list-group-numbered">
                            <li>Automated tempographic and xerographic machine for high precision logo printing</li>
                            <li>Flange and cylinder halves which are welded through submerged arc welding as per European Union (EU) standards</li>
                            <li>Fully equipped internal laboratory with all instruments and equipment to confirm the quality of the product.</li>
                            <li>Zinc metallized cylinders that prevents rusting and increase the shelf life of the cylinder</li>
                            <li>All cylinders are treated at 900 degrees for the purpose of normalisation of the welds throughout the cylinder</li>
                            <li>Shrink wrapped cylinder on the main body for marketing purposes using the modern shrink wrap machine</li>
                            <li>Foot ring embossin</li>
                            <li>A cylinder monitoring system is being launched from July 2019. This will ensure that all cylinders are tracked from the factory along the entire supply chain to the consumer. This will not only aid Surge in tracking the cylinders but also the gas supplier will be able to track how their gas supply is moving in the country and where their cylinders are being hoarded or diverted by unscrupulous people.</li>
                            <li>Pre-programmed cycle for the cylinders to return to the factory for re-validation. This will aid in curbing the circulation of defective cylinders in the market and thus control cylinder explosions and the losses that are attributed to defective cylinders.</li>
                            <li>Our re-validation plant validates 200 cylinders per hour</li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="list-group-item-danger list-group-numbered">
                            <li>Homogeneous deep drawin</li>
                            <li>Different types of marking such as ink jet, pad, silk printing and fluid labelling</li>
                            <li>Fully automatic torque-controlled valve tightening</li>
                            <li>Vacuumed inside cylinder cleaning</li>
                            <li>Vacuumed air purging of cylinders</li>
                            <li>Automated Programmable Logic Controllers (PLC) based hydrostatic pressure testing</li>
                            <li>High quality (Siam Cement Group) SCG and CAVAGNA insured valves.</li>
                            <li>We operate a testing line to ensure that any defect including leakage is detected before the cylinders are dispatched</li>
                            <li>40-micron complete body zinc coating of all cylinders thus rust resistan</li>
                            <li>High-quality PLC-based powder coating with 12 Ultra Violet (UV) grade hence resistant to intense sunlight</li>
                        </ol>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<link src="_Capasity.cshtml.css" type="text/css" />