@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption text-center">
                    <h1 class="page-title">Capacity and Quality Assurance</h1>
                    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Certifications">Our Certifications</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- news -->
@*<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <h2></h2>
                        <p> </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>*@
<style>
     p:last-child {
        margin: 0px;
    }

ul, ol {
}

a {
    text-decoration: none;
    color: #8d8f90;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    a:focus, a:hover {
        text-decoration: none;
        color: #f85759;
    }



.page-header {
    background: url("/images/banners/image (3).png")no-repeat;
    position: relative;
    background-size: cover;
}

.page-caption {
    padding-top: 170px;
    padding-bottom: 174px;
}

.page-title {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.card-section {
    position: relative;
    bottom: 60px;
}

.card-block {
    padding: 80px;
}

.section-title {
    margin-bottom: 60px;
}

</style>