@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="light">
    <div class="container py-4">

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/images/others/image-009.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Quality Assurance (QA)</a></h1>

                <div class="postcard__preview-txt">

                    We ensure quality assurance through continuous improvements on each and every single process. This consistency has enabled us to maintain and increase our presence in the local and international markets. The Surge LPG production line is all-embracing and stretchy to consumers’ needs and indispensable standards and norms. This is always done in the quest to provide a lasting solution to clean, safe, and quality energy sources.

                    As part of QA, Surge has sort for high levels of internationally recognized certifications and accreditations to manufacture and refurbish Steel LPG Cylinders including ISO and KEBS standards.
                </div>

            </div>
        </article>
        <article class="postcard dark " style="background: #dc3545!important;">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/images/others/image20.jpeg" alt="Image Title" /> <!--image-011.png-->
            </a>
            <div class="postcard__textt">
                <h1 class="postcard__title red"><a href="#">Manufacturing Capacity</a></h1>

                <div class="postcard__preview-txt">
                    Our current manufacturing capacity is approximately three million (3,000,000) complete LPG cylinders of various sizes annually. We produce the following gas cylinder sizes and quantities per hour:
                    <ol class="list-group-numbered">
                        <li>6 kg cylinders: 550 pieces per hour</li>
                        <li>13 kg cylinders: 360 pieces per hour</li>
                        <li>40/45/50 kg cylinders: 15 pieces per hour</li>
                    </ol>

                    Besides these sizes, we have the capacity and capability of producing, on demand, different gas cylinder sizes depending on the clients’ needs. This is possible due to the in-depth knowledge and experience of our production team and the versatility of our equipment to easily adapt the products to customers’ needs.
                    Surge distinguishes itself from other LPG manufacturers through its assiduous and efficient process to offer continuously loftier quality. The process thus follows an outstandingly defined, effectual model and a precisely choosy refurbishment formula.

                </div>

            </div>
        </article>
        <article class="postcard dark blue">

            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">       Features of Excellence</a></h1>

                <div class="postcard__preview-txt">

                            We pride in having a plant of international standards with distinct features of excellence that include:</p>
                    <ol class="list-group-numbered">
                        <li>Automated tempographic and xerographic machine for high precision logo printing</li>
                        <li>Flange and cylinder halves which are welded through submerged arc welding as per European Union (EU) standards</li>
                        <li>Fully equipped internal laboratory with all instruments and equipment to confirm the quality of the product.</li>
                        <li>Zinc metallized cylinders that prevents rusting and increase the shelf life of the cylinder</li>
                        <li>All cylinders are treated at 900 degrees for the purpose of normalisation of the welds throughout the cylinder</li>
                        <li>Shrink wrapped cylinder on the main body for marketing purposes using the modern shrink wrap machine</li>
                        <li>Foot ring embossin</li>
                        <li>A cylinder monitoring system is being launched from July 2019. This will ensure that all cylinders are tracked from the factory along the entire supply chain to the consumer. This will not only aid Surge in tracking the cylinders but also the gas supplier will be able to track how their gas supply is moving in the country and where their cylinders are being hoarded or diverted by unscrupulous people.</li>
                        <li>Pre-programmed cycle for the cylinders to return to the factory for re-validation. This will aid in curbing the circulation of defective cylinders in the market and thus control cylinder explosions and the losses that are attributed to defective cylinders.</li>
                        <li>Our re-validation plant validates 200 cylinders per hour</li>
                        <li>Homogeneous deep drawin</li>
                        <li>Different types of marking such as ink jet, pad, silk printing and fluid labelling</li>
                        <li>Fully automatic torque-controlled valve tightening</li>
                        <li>Vacuumed inside cylinder cleaning</li>
                        <li>Vacuumed air purging of cylinders</li>
                        <li>Automated Programmable Logic Controllers (PLC) based hydrostatic pressure testing</li>
                        <li>High quality (Siam Cement Group) SCG and CAVAGNA insured valves.</li>
                        <li>We operate a testing line to ensure that any defect including leakage is detected before the cylinders are dispatched</li>
                        <li>40-micron complete body zinc coating of all cylinders thus rust resistan</li>
                        <li>High-quality PLC-based powder coating with 12 Ultra Violet (UV) grade hence resistant to intense sunlight</li>
                    </ol>
                </div>

            </div>
        </article>
    </div>
</section>

<style>
    @@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* This pen */


.dark {
    background: #0f1b38;
}

.light {
    background: #f3f5f7;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}
/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.postcard.dark {
    background-color: #243e81;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard .t-dark {
    color: #243e81;
}

.postcard a {
    color: inherit;
}

.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 80%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

    .postcard .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        
    }

    .postcard .postcard__textt {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;

    }

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 2rem;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }

    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #243e81;
        top: -20%;
        height: 130%;
        width: 55px;
    }
        .postcard .media.postcard__textt:before {
            content: "";
            position: absolute;
            display: block;
            background: #dc3545;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            /*top: -50%;*/
            height: 130%;
            width: 30px;
        }

    .postcard.dark .postcard__text:before {
        background: #243e81;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}

.green .postcard__title:hover {
    color: #79dd09;
}

.green .postcard__bar {
    background-color: #79dd09;
}

.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

.red .postcard__title:hover {
    color: #bd150b;
}

.red .postcard__bar {
    background-color: #bd150b;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49;
}

.yellow .postcard__bar {
    background-color: #bdbb49;
}

.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}

</style>