@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="tiwaka">

    <div class="text-center container ">
        <h1>Capacity, Technology &amp; Quality</h1>
        <hr />
        <p>
            We are one of the few organizations that have the ability to continually invest in additional equipment
            and tooling to meet the anticipated demands of our clients. We believe that a constant renovation and
            development on every single operation is essential to maintain presence in the markets. We adhere to
            global Quality, Occupational Health & Safety standards in our processes to better satisfy the needs of
            customers, suppliers, business partners and employees.
        </p>
        <a class="btn border-5 btn-danger" asp-area="" asp-controller="Home" asp-action="Capacity">Read more</a>
    </div>
</div>
<style>
    .tiwaka {
    margin: auto;
      padding: 3em;
}

</style>