@*@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container p-5">
    <div class="text-center">
        <h1>The Surge Energy Difference</h1>
        <h5>Sustainable.Renewable.Energy</h5>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6 d-flex"><img src="/images/sections/EnergyDifference.png" alt="no image" style="object-fit:cover" /></div>
        <div class="col-md-6 " style="    padding: 1em;
    border-radius: 2em;">


            <p>
                <br />Surge Energy is a leading Kenyan company specialized in manufacturing of steel LPG cylinders.
                Surge has been offering customized solutions for LPG filing & distribution companies since founded in 2018.<br />

                <br />Over the years Surge has become a reputable and reliable brand in LPG sector for all Kenyan
                energy companies. Surge maintains high standards in terms of manufacturing, quality and
                services.<br />

                <br />Innovation - Global industrialization has been setting higher standards each day. Manufacturing
                LPG cylinder is a sensitive process where sense of quality and safety is always priority.<br />

                <br />As Surge we believe that to maintain a successful management and sustainable organizations,
                sharing the knowledge and distribution of intellectual capital within company is highly important
                by operating in parallel with our mission, Surge has been putting high importance on technology
                used in its production line as well as new product presentation that will enable us to lead in our
                core markets and to create future markets.
            </p>
            <a class="btn border-5 btn-danger" asp-area="" asp-controller="Home" asp-action="Sustainability">Read more</a>
        </div>
    </div>
</div>