@*  hero-area grid-acc shadow   acc-grid
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="beast container" style="padding: 5rem;">
    <div class="beast-col" style=" margin: auto;">


        <a href="http://discovery.ariba.com/profile/AN11066036375" class="card shadow">

            <img alt="View Surge Energy Limited profile on Ariba Discovery" border=0 src="/images/brands/AribaNetwork.png" style="height: 3rem; object-fit: cover;">

        </a>
        <div class="accordion " id="accordionExample">
            <div class="accordion-item shadow">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="acc-img d-flex justify-content-between"> Download Bronchure </span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="acc-img">
                            <div class="btn-bronch">

                                <a href="/documents/Corporate_Credentials_Surge Energy.pdf" class="btn btn-outline-primary d-flex justify-content-between eng-btn" target="_blank">In English <img src="/images/brands/english.jpg" /></a>



                                <a href="/documents/Credenciais Corporativa _ Surge Energy.pt.pdf" class="btn btn-outline-primary d-flex justify-content-between pot-btn" target="_blank">In Portugees <img src="/images/brands/Portugal.png" /></a>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed  d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                </div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed  d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="acc-img d-flex justify-content-between">Télécharger la brochure <img src="/images/brands/france.png" /></span>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="/documents/Corporate_Credentials_Surge Energy.fr.pdf" class="btn-outline-info" target="_blank">Télécharger</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" beast-col1" style="margin: auto;">


        <div class="container-iframe">
            <iframe style="border-radius: 2em;"
                    src="/videos/SURGE ENERGY MAIN ADVERT.mp4"
                    frameborder="1" class="responsive-iframe"
                    allowfullscreen></iframe>

        </div>

    </div>
</div>


@*<link src="_MainAd.cshtml.css" type="text/css" />*@
<style>
    /*****/
    .btn-outline-primary {
        min-width: 10em;
    }

    .end-btn {
        grid-area: eng;
    }

    .pot-btn {
        grid-area: pot;
    }

    .beast-col {
        grid-area: col1;
    }

    .beast-col1 {
        grid-area: col2;
    }

    .beast {
        display: grid;
        grid-template-areas: 'col1 col2';
        grid-gap: 1rem;
    }

    .btn-bronch {
        display: grid;
        grid-template-areas: 'eng pot';
        grid-gap: 1rem;
    }

    @@media screen and (min-width: 1399px) {
        .btn-bronch {
            display: grid;
            grid-template-areas: 'eng pot';
            grid-gap: 1rem;
        }
    }

    @@media screen and (max-width: 1399px) {
        .btn-bronch {
            display: grid;
            grid-template-areas: 'eng ''pot';
            grid-gap: 1rem;
        }
    }
    /*****/
    .acc-grid {
        max-width: 30em;
        padding: 3rem;
        margin: auto;
    }

    .acc-img img {
        width: 10%
    }

    .container-iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    /* .accordion-item {
            border: unset;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }*/

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    /* .grid-acc {
            width: 100%;
            padding: 4rem;
            margin: auto;
        }*/
</style>
