/*body {
}
hr {
    color: red;
}*/

/*.btn-danger {
    border-radius: 2em !important;
    width: 10em;
    margin: auto;
}
.container {
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}*/