@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row ">
        <div class="col-md-6 " style="    padding: 3em;
    border-radius: 2em;margin: auto;">
            <h1>Products &amp; Services</h1>
            <h4>Gas Cylinder Manufacturing</h4>
            <hr />
            <p>
                Our chief business line is the manufacture of high-quality internationally recognized steel LPG cylinders with value-adding services and products including cylinder revalidation,
                cylinder valves, and smart meters
            </p>
            <a class="btn border-5 btn-danger" asp-area="" asp-controller="Home" asp-action="Products">Read more</a>
        </div>
        <div class="col-md-6"><img src="/images/sections/ProductsService.png" alt="no image" class="product-service" /></div>
    </div>
</div>
<style>
    .product-service {
    margin:5rem;
    width: 80%;
}
    
</style>