
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="business-header">

    <div class="row shadow">
        <div class="col-md-6" style="">
            <div class=" head-hold">


                <h1 class="tagline">Surge Energy</h1>
                <hr>
                <p style="text-align: justify;">
                    Surge Energy Limited (Surge),
                    is a Kenyan LPG cylinder manufacturing and revalidation company incorporated in 2017 and located in Kisaju, Kenya.
                    The location gives easy access by road, rail and air to Kenya’s Capital City (Nairobi),
                    the Mombasa Port through Internal Container Depot (ICD), and the East Africa Region.
                    The Twenty-Eight (28) Million USD worth of investment is a fully installed automatic ultramodern LPG
                    cylinder manufacturing line of Turkish origin with a total built-up area of over 100,000 square feet.
                    Since its inception, Surge has built a reputation of quality,
                    precision and trustworthiness, making it a strong brand partner and a household name amongst
                    LPG suppliers for customized and standard LPG cylinders. Within a short span of time,
                    we are now a well-established and highly recognized steel LPG cylinder manufacturing and revalidation firm in Kenya and across the region.
                </p>
                <a class="btn btn-danger text-light" asp-area="" asp-controller="Home" asp-action="Products" role="button" aria-expanded="false">
                    Our Products
                </a>
                <br>
                <br>
            </div>
        </div>
        <div class="video-wrapper col-md-6">
            <video loop autoplay>
                <source src="/gifs/SURGE-ENERGY-MAIN-ADVERT.webm" type="video/webm">
            </video>
        </div>
    </div>
</div>
<section class="container text-center ">


    <div class="grid ">
        <article>
            <div class="wrap">
                
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Our Vission</h2>
                    <hr />
                    <p class="mbr-fonts-style text1 mbr-text display-6">
                        To exceed our clients' expectations in quality,
                        delivery, and cost through continuous interaction with customers.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="wrap">
                <div class="ico-wrap">
                    
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                        <span>Our Mission</span>
                    </h2>
                    <hr />
                    <p class="mbr-fonts-style text1 mbr-text display-6">
                        To become the global benchmark manufacturing
                        company for the L.P.G industry providing cutting edge products that exceed the highest set
                        international standards of quality to customers through continuous improvements driven by creativity,
                        teamwork and integrity of our employees.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="wrap">
                <div class="ico-wrap">
                   
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">

                        <span>Our Driving Force</span>
                    </h2>
                    <hr />
                    <p class="mbr-fonts-style text1 mbr-text display-6">
                        We are a client & quality-centric firm that is driven by passion and aims at
                        delivering beyond the client’s expectations in quality, safety, on-time delivery,
                        and innovation. We do not only consider the LPG suppliers but the final end-user,
                        whether a household or a business venture.
                        @* <br />
                        To win the hearts of our clients and the end-users, we have invested greatly in feedback mechanisms to ensure continuous improvement driven by the creativity, teamwork, and integrity of our employees. By so doing, we have steadily grown to a recognized benchmark manufacturing company for the LPG industry in Africa
                        <br />
                        We start everyday looking forward to having satisfied customers due to our consistent and timely supply of safe and durable LPG cylinders*@
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="wrap">
                <div class="ico-wrap">
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                        <span>What We Stand For</span>
                    </h2>
                    <hr />
                    <p class="mbr-fonts-style text1 mbr-text display-6">
                        We stand for quality, safety, consistency, accuracy, timeliness, innovation, affordability and
                        accessibility of our products and services. This is all made possible due to high levels of teamwork
                        amongst the staff and our open-door policy with our customers and potential clients.
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
<section>

 

</section>
<style scoped>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-gap: 1rem;
        align-items: stretch;
        padding: 4rem;
    }

        .grid > article {
            /*border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);*/
        }

            .grid > article img {
                max-width: 100%;
            }

    /*font-face {
            font-family: "Dinot Font";
            src: url("https://yoursite.com/css/fonts/CustomFont.eot");
            src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"), url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"), url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
        }*/
    hr {
        color: #dc3545;
    }

    .head-hold {
        /*  background: #9d91919e;*/
        position: relative;
        /* width: 50%;*/
        padding: 4rem;
        color: black;
    }

    .video-wrapper {
        /*          height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;*/
    }

    video {
        position: absolute;
        height: -webkit-fill-available;
        width: 100%;
        object-fit: cover;
    }

    audio, canvas, video {
        display: inline-block;
    }


    .btn-danger {
        border-radius: 2em !important;
        width: 10em;
        margin: auto;
    }

    .business-header {
        min-height: 450px;
        background-image: url(/gifs/SURGE-ENERGY-MAIN-ADVERT.webm);
        object-fit: cover;
        /*       background-color: #00000091;*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 100% !important;
        color: white;
    }

    section {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .wrap {
        display: flex;
        background: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
       /* box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);*/
        margin-bottom: 2rem;
        min-height: 15em;
    }

        .wrap:hover {
            background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
            color: white;
        }

    .ico-wrap {
        margin: auto;
    }

    .mbr-iconfont {
        font-size: 4.5rem !important;
        color: #e52625;
        margin: 1rem;
        padding-right: 1rem;
    }

    .vcenter {
        margin: auto;
        margin-top: 0.5em;
        text-align: left;
    }

    .mbr-section-title3 {
        text-align: left;
    }

    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .display-5 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 1.4rem;
    }

    .mbr-bold {
        font-weight: 700;
    }

    /*p {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            line-height: 25px;
        }*/
    .footer-20192 .cta {
        background-color: #bd2130;
        top: -2.2em !important;
        border-radius: 2em;
        position: relative;
    }

    .display-6 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 1rem;
    }
    @@media (max-width: 1200px){
        .col-md-6 {
            flex: 0 0 100%;
    max-width: 100%;
        }
        .video-wrapper {
            display:none;
        }
    }
   
</style>