<footer class="footer-20192">
    <div class="site-section">
        <div class="f-container">

            <div class="cta d-flex justify-content-between">

                <h4 class="f-text">Inquiries / Queries?</h4>

                <div class="ml-auto">

                    <a class="btn btn-light f-button" asp-area="" asp-controller="Home" asp-action="CallBackRequest" style="
    margin: 1em !important;
    border-radius: 1em !important;
"><strong>Get In Touch </strong></a>

                </div>
            </div>



            <div class="footer-body">

                <div class="">
                    <h4>Contact Us</h4>
                    <hr />
                    <ul class="list-unstyled links">
                        <li><a href="#" class="location"><i class="fa-solid fa-location-dot"></i> The Arch Place | 1<sup>st</sup>Floor | Nyangumi Road</a></li>
                        <li><a href="#" class="post"><i class="fa-solid fa-envelope"></i> P.O Box 3421-00506 Nairobi | Kenya</a></li>
                        <li><a href="#" class="phone"><i class="fa-solid fa-phone"></i> +254 711915374</a></li>
                        <li><a href="#" class="infomail"><i class="fa fa-paper-plane"></i> admin@surge.energy</a></li>
                        <li>
                            <ul class="list-unstyled social">
                                <li><a class="" href="https://web.facebook.com/Rayhan.Badsha13/?_rdc=1&_rdr"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a class="" href="https://twitter.com/surgeenergya?lang=en"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a class="" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a class="" href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h4>The Company</h4>
                    <hr />
                    <ul class="list-unstyled links">

                        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs"><i class="fa-solid fa-check"></i> About Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Products"><i class="fa-solid fa-check"></i> What we do</a></li>
                        <li><a href="#"><i class="fa-solid fa-check"></i> Our Team</a></li>
                        <li><a href="#"><i class="fa-solid fa-check"></i> News</a></li>
                    </ul>
                </div>
                <div class="">
                    <h4>Quick Links</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled links">
                                <li><a asp-area="" asp-controller="Home" asp-action="Products"><i class="fa-solid fa-check"></i>Products &amp; Services</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs"><i class="fa-solid fa-check"></i> The Factory</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Capacity"><i class="fa-solid fa-check"></i> Quality Assurance &amp; Control</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Sustainability"><i class="fa-solid fa-check"></i> Environmental Sustainability</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled links">
                                <li><a href="#"><i class="fa-solid fa-check"></i> Careers</a></li>
                                <li><a href="#"><i class="fa-solid fa-check"></i> Feedback</a></li>
                                <li><a href="#"><i class="fa-solid fa-check"></i> Contact Us</a></li>
                                <li><a href="#"><i class="fa-solid fa-check"></i> Virtual Tour</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="footer-copyright" style="text-align: center;">
        <span class="text-center">© All Rights Reserved. Surge Energy 2022</span>
    </div>
</footer>
<style scoped>
    .footer-body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr minmax(30em, 1fr);
        grid-gap: 1rem;
    }

    @@media screen and (max-width: 992px) {
        .footer-body {
            display: grid;
            grid-template-rows: 2fr;
            grid-template-columns: repeat(auto 1fr);
            grid-gap: 1rem;
        }
    }
     .social  li i {
        color: WHITE !important;
    }

   .footer-20192 a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        padding: 0.5rem;
        min-width: 2rem;
    }

        a, a:hover {
            text-decoration: none !important;
        }

    .f-text {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .f-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .f-button {
        width: 10rem;
    }

    .footer-20192 .content {
        height: 50vh;
    }

    /* h3 {
                        border-bottom: 1px solid red;
                    }*/

    .icon-facebook::before {
        font-family: 'Font Awesome 5 Brands';
        content: '\f09a';
    }

   .footer-20192 li i {
        color: red;
    }

    .footer-20192 {
        position: absolute;
        color: #fff;
        width: 100%;
        background-color: #243e81;
    }

        .footer-20192 .container {
            position: relative;
        }

        .footer-20192 h3 {
            font-size: 0.8em;
            margin-bottom: 10px;
            margin-top: 0;
            line-height: 1.5;
        }

        .footer-20192 .links li {
            margin-bottom: 10px;
            line-height: 1.5;
            display: block;
        }

            .footer-20192 .links li a {
                color: #f8f9fa;
            }

                .footer-20192 .links li a:hover {
                    color: #fff;
                }

        .footer-20192 .social li {
            display: inline-block;
            position: relative;
        }


        .footer-20192 .footer-logo {
            color: #fff;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }

        .footer-20192 .copyright {
            color: #666873;
        }

    .btn-outline-danger {
        border-radius: 0.9em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .btn-outline-primary {
        border-radius: 0.9em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .btn-outline-danger:hover {
        color: white;
        background-color: #243e81;
        border-color: #ffffff;
    }

    .footer-20192 .cta {
        /* -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
                                    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);*/
        background-color: #bd2130;
        top: -2.5em;
        border-radius: 2em;
        position: relative;
        max-width: 50em;
        margin: auto;
    }

        .footer-20192 .cta h2, .footer-20192 .cta h3 {
            line-height: 1.5;
        }

        .footer-20192 .cta h3 {
            font-size: 1em;
        }

   .footer-20192 a {
        border-radius: 2em;
    }

</style>